* {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

#main {
    border-radius: 3px;
    border: 1px solid black;
    position:absolute;
    left:50%; 
    top: 50%;   
    transform: translate(-50%, -50%);
    width:800px;
    height:470px;
    background-color: white;
    box-shadow: 7px 3px 10px grey;
}

.app-screen{
    border-radius: 3px;
    border: 1px solid black;
    position:absolute;
    left:50%; 
    top: 50%;   
    text-align: center;
    transform: translate(-50%, -50%);
    width:800px;
    height:470px;
    background-color: white;
    box-shadow: 7px 3px 10px grey;
}

#title { 
   text-align: center;
   font-weight: bold;
   margin-top: 10px;
}

.topBar {
    padding:10px;
    border-bottom: 1px solid black;
}

#search {  
    width: 400px;
    height: 25px;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    text-align: center;
}

.carouseltxt {
    text-shadow: 3px 3px 3px black; 
    font-size: smaller;
    font-weight:500;
}

.carouselSection {
    margin: 20px; 
    padding-top: 10px;
}

#carouselExampleCaptions {
    border-radius: 10px; 
    overflow:hidden; 
    margin-left: 30px;
    width: 300px;
}
 
.navigation-bar {
    position: absolute;
    bottom:0; 
    right: 20px;
    margin-right:20px; 
    padding-left: 30px;
    margin-bottom: 20px;
}

.textSection {
    margin-right: 20px;
    position: relative;
}

#mainTextBox {
    position: absolute; 
    height: 200px;
}

#sparkleOne {
    position: absolute;
    top: 120px;  
    left: 560px;  
    width:70px;
    color: gray; 
    z-index: 10;  
}

#sparkleTwo {
    position: absolute;
    top: 180px;  
    right: 570px;  
    width:70px;
    color: gray; 
    z-index: 10;  
}